---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Astro" description="Astro">
    <h1 class="text-3xl font-bold mb-4">Welcome to Astro</h1>
    <p class="mb-6">Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience.</p>
    <p class="mb-6">Astro combines the best parts of modern front-end development with the best parts of static site generation, and wraps it all into a dev server that gives you a fast feedback loop.</p>
    <p class="mb-6">Astro is designed to be a great starting point for your next project, and it's easy to customize to fit your needs.</p>
</Layout>
